body { background-color: #DEFAFA; margin: 0px; }
header { background-color: #5C5CD6; position: fixed; width: 100%; height: 50px; text-align: center; }
project { float: left; width: 15%; Height: 600px; background-color: #D8D8F5; margin-top: 40px; padding: 10px; }
primary { float: right; width: 75%; Height: 600px; margin-top: 40px; padding: 10px; }
footer { clear: both; }
